.home-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 600px;
  background-image: url("https://i.ibb.co/wyqnrGg/main-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-info {
  margin: 0 0 0 10%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: 40%;
  background: white;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 2px hsla(0, 0%, 7%, 0.24);
}

.home-title-info {
  font-size: 30px;
}

.home-tear {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 1000px;
}

.cards-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.start-to-sale {
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #2aaeb7;
  color: white;
}
