.publish-wrapper {
  display: flex;
  min-height: calc(100vh - 80px);
  justify-content: center;
  background: #ebeded;
}

.publish-content {
  padding: 10px 0;
  width: 80%;
}

.publish-title {
  margin: 20px 0;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.box-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #dadbdb;
  border-radius: 3px;
  background: white;
  height: 200px;
}

.form-picture {
  flex-direction: unset;
  padding: 20px;
  cursor: pointer;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px dotted #eeeeee;
  border-radius: 2px;
}

.add-picture-button {
  padding: 10px;
  font-size: 14px;
  color: #30aeb7;
  border: 2px solid #30aeb7;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}

.publish-outline {
  margin: 0 5px 0 0;
  font-size: 18px;
  font-weight: bold;
}

.form-picture img {
  width: 150px;
  object-fit: cover;
}

.form-info {
  height: 300px;
}

.form-price {
  height: 110px;
}

.changes-checkbox-publish {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.changes-checkbox-publish-content {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: calc(50% + 10px);
}

.changes-checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.publish-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.publish-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 35px;
  background-color: #2aaeb7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
