/*------------------------------------------------------------
------------------------HEADER-------------------------------*/
/* .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */
header img {
  width: 110px;
  height: 50px;
}
.signin-button,
.login-button {
  width: 115px;
  height: 32px;
  background-color: white;
  color: #2aaeb7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-right: 20px;
  border-radius: 5px;
  border: solid #2aaeb7;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border: red solid 2px;
  align-items: center;
}
.sale-it {
  margin-right: 10px;
  background-color: #2aaeb7;
  color: white;
  width: 115px;
  height: 32px;
  border-radius: 5px;
  font-size: 12px;
  border: none;
}
.header-input {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: #2aaeb7 solid;
  color: #2aaeb7;
  margin-left: 300px;
}
::placeholder {
  color: #2aaeb7;
}
.signout-button {
  background-color: purple;
  border: none;
  color: white;
  border-radius: 5px;
  height: 32px;
}
/* ------------------------------------------------------------
---------------------------BEFORE-HOME------------------------*/
.main-pic {
  width: 1720px;
  height: 450px;
  object-fit: cover;
  position: absolute;
}
.home {
  margin-left: 150px;
  height: 270px;
  width: 410px;
  background-color: white;
  position: relative;
}

.start-to-sale {
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #2aaeb7;
  color: white;
}

/*--------------------------------------------------------------------------------
----------------------------SINGLEOFFER COMPONENT--------------------------------*/
article {
  display: flex;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.offer-pic {
  width: 230px;
  height: 360px;
}
/*-----------------------------------------------------------------
-------------------------------PUBLISH---------------------------*/

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}
.block1 {
  display: flex;
  flex-direction: column;
}
.block2 {
  display: flex;
  flex-direction: column;
}

.block3 {
  display: flex;
  flex-direction: column;
}
