/*-----------------------------------------------------------------
-------------------------------PUBLISH---------------------------*/

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}
.block1 {
  display: flex;
  flex-direction: column;
}
.block2 {
  display: flex;
  flex-direction: column;
}

.block3 {
  display: flex;
  flex-direction: column;
}

/*------------------PAYMENT-----------------*/

.infos-payment {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.to-paid {
  color: white;
  background-color: #2aaeb7;
  border-radius: 5px;
  border: none;
  height: 32px;
  margin-top: 50px;
}
.total {
  font-size: 30px;
  color: orange;
  font-weight: bold;
}
.infos-payment div {
  margin-top: 20px;
}
.infos-payment p {
  text-align: center;
  font-size: 18px;
}

/*----------------------------------------------------
--------------------------LOGIN------------------*/
.login-h1 {
  font-size: 32px;
  margin-top: 50px;
}
.login-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  align-items: center;
}
.login {
  background-color: #2aaeb7;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  height: 32px;
}
.login-input {
  border-radius: 5px;
  border: #2aaeb7 solid;
  margin-top: 20px;
}

/*----------------------------------------------------------
------------------SIGNUP------------------------------------*/

.signup {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-h1 {
  font-size: 30px;
  margin-top: 50px;
}
.input-signup {
  width: 250px;
  border-radius: 5px;
  border: #2aaeb7 solid;
}
